window {
	background: transparent;
}

#input {
	background: #222;
	color: #FFF;
	border-radius: 0;
	border: 2px solid #33DD33;
}

#inner-box {
	background: #222;
	color: #FFF;
}

#entry {
	border-left: 2px solid #33DD33;
	border-right: 2px solid #33DD33;
}

#scroll {
	border-bottom: 2px solid #33DD33;
}

#entry:selected {
	background-color: #33DD33;
	border: none;
	outline: none;
}

#entry:selected #text {
	color: #222;
}
